repos:
-   repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
    - id: black
      language_version: python3.9
      args: ["--exclude", "simple_ddl_parser/parsetab.py"]
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
    - id: ruff
      language_version: python3.9
      args: ["--exclude", "simple_ddl_parser/parsetab.py"]
