[tool.poetry]
name = "simple-ddl-parser"
version = "0.1.0"
description = ""
authors = ["Iuliia Volkova <xnuinside@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.6"
ply = "^3.11"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
